body {
    margin: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px;
}